[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/MeiK2333/github-style
[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/naro143/hugo-coder-portfolio
