<section class="container page">
    <article>

      <div >
        {{ if .NextInSection }}
        <br>
        <div class="next"style="float:right;" >
          <a href="{{ .NextInSection.Permalink }}" style="font-size:15px;font-weight:lighter;color:#87678b ;padding:2px;padding-left:10px;padding-right:10px; border:2px solid #87678b" >{{.NextInSection.Title}} &rarr; </a>
        </div>
        {{else}}
        <br>
        {{ end }} 
        {{ if .PrevInSection}} 
        
            <div class="previous"style="font-weight:bolder;font-size:10px;" >
              <a href="{{ .PrevInSection.Permalink }}"  style="font-size:15px;font-weight:lighter;color:#87678b;padding:2px;padding-left:10px;padding-right:10px; border:2px solid #87678b">&larr;
                {{.PrevInSection.Title}}</a>
            </div>
            <br>
        {{else}}
        <br>
        {{ end }}
      </div>
  
    </article>
  </section>