<section class="container page">
  <article>
    <header>
      <h1>{{ .Title }}</h1>
    </header>

    {{ .Content }}
    <br>
    
    
    <!--<hr size=10px color=#ae9abe style="border:1 dotted #5151A2">
    <br>
    <br>
    <div >
      {{ if .NextInSection }}
      <div class="next"style="float:right;font-size:22px" >
        <a href="{{ .NextInSection.URL }}" style="font-weight:lighter;color:#87678b ;padding:2px;padding-left:10px;padding-right:10px; border:2px solid #87678b" >Next Post &rarr; </a>
      </div>
      
      {{ end }} 
      {{ if .PrevInSection}} 

          <div class="previous"style="font-size:22px;font-weight:bolder" >
            <a href="{{ .PrevInSection.URL }}"  style="font-weight:lighter;color:#87678b;padding:2px;padding-left:10px;padding-right:10px; border:2px solid #87678b">&larr;
                Previous Post</a>
          </div>
      {{else}}
      <br>
      {{ end }}
    </div>-->

  </article>
</section>

